{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To The Notebook</h1>
    <p> This way to: </p>
    <a href="/articles" class="btn btn-success sharp btn-lg">Articles</a>
    <p> </p>
    <p class="lead">This application is built using the Python Flask framework, Jinja/HTML, Bootstrap. The database is SQLite3. For future versions we could implement a function that will save/sync the personal db to a db on the cloud</p>

    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-success sharp btn-lg">Register</a>
      <a href="/login" class="btn btn-success sharp btn-lg">Login</a>
    {% endif %}
    <p> </p>
  </div>
{% endblock %}
